body{
	color:#666;
}
header .nav li:nth-child(2)>a {
	border-bottom: 2px solid #e66d17;
	color: #e66d17;
}
section{
	margin-top: 70px;
}
section .main{
	padding:30px 0;
	text-align: center;
}
section .main .project>div.title:after{
	content:"";
	display: block;
	clear:both;
}
section .main .project{
	border:1px solid #ccc;
	min-height: 888px;
	position: relative;
}
section .main .project>div.title>p{
	width: 132px;
	height: 48px;
	font-size: 18px;
	line-height: 48px;
	text-align: center;
	cursor: pointer;
	float:left
}
section .main.project>div.title>p.active{
	border-top:2px solid #ff8c00;
}
section>.main ul.sorts{
	width:100%;
	border-top:1px solid #e6e6e6;
}
section ul.sorts>li{
	width:100%;
	height: 65px;
	border-bottom:1px dashed #e6e6e6;
	font-size: 14px;
}
section ul.sorts>li>p{
	width: 132px;
	height: 64px;
	line-height: 64px;
	text-align: left;
	padding-left: 30px;
	float: left;
}
section ul.sorts>li:after{
	content: "";
	display: block;
	clear:both;
}
section ul.sorts ul.sort{
float:left;
height: 64px;
}
section ul.sorts ul.sort li{
	float: left;
	height: 64px;
	line-height: 64px;
	margin-right: 50px;
	color:#333;
	cursor: pointer;
}
section ul.sorts ul.sort>li.active{
	color:#ff8c00;
}
section ul.sorts>li>p.calc{
	float:right;
	cursor: pointer;
}
/*项目专区*/
section>.main ul.goods{
	width: 100%;
}
section ul.goods>li{
	width: 100%;
	height: 102px;
	border-bottom: 1px solid #e6e6e6;
}
section ul.goods ul.rows{
	width: 100%;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
}
section ul.goods ul.rows>li{
	width: 200px;
	height: 101px;
	text-align: left;
	position: relative;
}
section .rows>li>a{
	height: 61px;
	display: block;
	font-size: 16px;
	margin-left:30px ;
	margin-top: 20px;
	line-height: 61px;
	border-right:1px solid #e6e6e6 ;
}
section .rows>li>a.active{
	display: block;
	height:20px;
	padding-right: 5px;
	line-height: 18px;
	font-size: 12px;
	border:1px solid #f7562c;
	color:#f7562c;
	position: absolute;
	bottom: 15px;
}
section .rows .active span{
	display: inline-block;
	height: 18px;
	width: 18px;
	text-align: center;
	margin-right: 2px;
	color:#fff;
	background-color: #f7562c;
}
section .rows>li>div{
	margin:20px auto;
}
section .rows span{
	color:#cbcbcb;
	margin-right:10px;
}
section .rows>li:nth-child(2) p{
	width: 170px;
	height: 30px;
	line-height: 30px;
}
section ul.goods ul.rows>li:nth-child(3){
	width: 170px;
	margin-left:20px;
}
section .rows>li h3{
	width: 100%;
	height: 32px;
	font-size:32px;
	color:#FF8C00;
	line-height: 32px;
	font-weight: normal;
}
section .rows>li h3 label{
	font-size: 12px;
	margin:0 4px;
}
section .rows>li h3 small{
	font-size: 12px;
	color:#fff;
	background-color: #329AFF;
}
section ul.goods ul.rows>li:nth-child(4){
	width: 100px;
	margin-left:30px;
}
section ul.goods ul.rows>li.draw{
	width: 100px;
}
section ul.goods ul.rows>li.draw>div{
	position: relative;
}
section ul.goods ul.rows>li.draw canvas{
	position: absolute;
	top:0;
}
section ul.goods ul.rows>li:last-child{
	width: 150px;
	margin-top: 10px;
}
section .rows button{
	width: 98px;
	height: 43px;
	font-size: 14px;
	text-align: center;
	line-height:40px;
	color:#ff8c00;
	border: 1px solid #ff8c00;
	border-radius: 4px;
	background-color: #fff;
	cursor: pointer;
}
section .rows button:hover{
	color: #fff;
	background-color: #ff8c00;
}
/*债券转让*/
/*下标按钮*/
section .project .cre .limit{
	overflow: hidden;
	display: inline-block;
	margin: 0 auto;
}
section .project .cre .limit>li{
	width: 25px;
	height: 25px;
	float: left;
	border-radius: 2px;
	border:1px solid  #ff8c00;
	margin: 20px 5px;
	line-height: 25px;
	cursor: pointer;
}
section .project .cre .limit>li.active{
	background-color: #ff8c00;
	color:#fff;
}